.articles {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

    &__block {
        position: absolute;
        margin: 0;
        margin-top: 80px;
        top: 0;
        left: 18%;
        right: 18%;
        bottom: 0;
        border: 1px solid black;
        border-top: none;
        border-bottom: none;
        background: rgba(255, 251, 246, 0.4);
        border-width: 0px 1px;
        border-style: solid;
        border-color: #000000;
        overflow: hidden;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        padding: 26px 58px 0 58px;
    }

    &__head_text {
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 41px;
    }

    &__head_filter {
        width: 196px;
        height: 44px;
        background: #FFF4E8;
        border: 1px solid #000000;
        border-radius: 12px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        position: relative;
        transition: all .3s;

        &::after {
            content: "";
            position: absolute;
            top: 16px;
            left: 19px;
            height: 14px;
            width: 14px;
            border-bottom: 2px solid #101010;
            border-right: 2px solid #101010;
            box-sizing: border-box;
            transform: translate(0%, 0%) rotate(45deg) scale(-1);
            transition: 0.4s ease-in-out;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50px;
            bottom: 0;
            width: 1px;
            background-color: #000000;
        }
    }

    &__head_filter.active {
        &::after {
            content: "";
            position: absolute;
            top: 16px;
            left: 22px;
            height: 14px;
            width: 14px;
            border-bottom: 2px solid #101010;
            border-right: 2px solid #101010;
            box-sizing: border-box;
            transform: rotate(45deg) translate(-33%, -0%);
            transition: 0.4s ease-in-out;
        }
    }

    &__content_wrapp {
        padding: 33px 24px 0 56px;
        width: 100%;
    }

    &__content {
        position: absolute;
        overflow-y: scroll;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        margin-bottom: 20px;
    }
}


.articlesList {
    margin-right: 20px;

    &__item {
        position: relative;
        width: 100%;
        height: 236px;
        background: #FFF4E8;
        border: 1px solid #000000;
        border-radius: 12px;
        margin-bottom: 36px;
        padding: 16px;
        transition: .3s all;
    }

    &__item_open {
        position: relative;
        width: 100%;
        height: 774px;
        background: #FFF4E8;
        border: 1px solid #000000;
        border-radius: 12px;
        margin-bottom: 36px;
        padding: 16px;
        transition: .3s all;
    }

    &__item_title {
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 44px;
        border-bottom: 1px solid black;
        position: absolute;
        top: 30px;
        right: 54px;
    }

    &__item_text {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        max-width: 856px;
        max-height: 107px;
        margin: 12px 0;
        position: absolute;
        top: 80px;
    }

    &__item_time {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        border-bottom: 1px solid black;
        position: absolute;
        left: 18px;
        bottom: 12px;
    }

    &__item_btn {
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        border: none;
        background-color: transparent;
        position: absolute;
        margin: 0 auto;
        bottom: 12px;
    }
}

/////////////media//////////////

@media(max-width: 1581px) {
    .articles {
        &__block {
            left: 15%;
            right: 15%;
            margin-top: 60px;
        }
    }
}

@media(max-width: 1280px) {
    .articlesList {
        &__item {
            height: 270px;
        }
    }

    .articles {
        &__block {
            left: 10%;
            right: 10%;
        }

    }
}

@media(max-width: 1080px) {
    .articlesList {
        &__item {
            height: 300px;
        }
    }
}

@media(max-width: 920px) {
    .articlesList {
        &__item_title {
            font-size: 24px;
            right: 20px;
        }

        &__item_text {
            font-size: 20px;
        }

        &__item_time {
            font-size: 18px;
        }

        &__item_btn {
            font-size: 20px;
        }

        &__item {
            height: 270px;
        }
    }

    .articles {
        &__block {
            left: 0;
            right: 0;
        }
    }
}

@media(max-width: 720px) {
    .articlesList {
        &__item_title {
            font-size: 20px;
            right: 20px;
        }

        &__item_text {
            font-size: 16px;
        }

        &__item_time {
            font-size: 16px;
        }

        &__item_btn {
            font-size: 18px;
        }

        &__item {
            height: 270px;
        }
    }
}




@media(max-width: 530px) {
    .articles {
        &__content_wrapp {
            padding: 0;
        }

        &__head {
            padding: 15px;
        }

        &__head_text {
            font-size: 16px;
        }

        &__head_filter {
            margin-right: 0;
            width: 88px;
            height: 22px;
            font-size: 12px;
            margin-top: 10px;
            &::after {
                top: 9px;
                left: 8px;
                height: 8px;
                width: 8px;
            }
    
            &::before {
                left: 20px;
            }
        }

        &__head_filter.active {
            &::after {
                top: 9px;
                left: 8px;
                height: 8px;
                width: 8px;
            }
        }

        &__content {
            left: 0;
        }
    }

    .articlesList {
        margin-right: 0;

        &__item_title {
            font-size: 18px;
            right: 20px;
        }

        &__item_text {
            font-size: 16px;
        }

        &__item_time {
            font-size: 16px;
        }

        &__item_btn {
            font-size: 16px;
        }

        &__item {
            height: 330px;
        }
    }
}