
.menu, .menu__wrapp{
    height: 80px;
}

.menu {
    width: 100%;
    background-color: #352F24;
    z-index: 2;

    &__wrapp {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__mob_btn {
        background-color: transparent;
        border: none;
        outline: none;
        display: none;

        &::before {
            margin-bottom: 6px;
        }

        &::before,
        &::after {
            content: "";
            width: 38px;
            height: 4px;
            background-color: #e0e0e0;
            display: block;
            border-radius: 12px;
            transition: transform 0.3s; // transform чтоб для трансформа работало
        }
    }

    &__mob_btn__active {
        background-color: transparent;
        border: none;
        outline: none;

        &::after {
            height: 3px;
            transform: translateY(-5px) rotate(-135deg);
        }

        &::before {
            height: 3px;
            transform: translateY(5px) rotate(135deg);
            margin-bottom: 6px;
        }

        &::before,
        &::after {
            content: "";
            width: 38px;
            height: 4px;
            background-color: #e0e0e0;
            display: block;
            border-radius: 12px;

            transition: transform 0.3s; // transform чтоб для трансформа работало
        }
    }

    &__list {
        display: flex;
        align-items: center;
        max-width: 100%;
        height: 80px;
        color: #fff;
        padding: 0;
        margin: 0;
        text-decoration: none;
    }

    &__list_li {
        font-size: 28px;
        text-transform: capitalize;
        margin-right: 60px;
        list-style: none;
        display: inline-block;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid #fff;
        }

        &:last-child {
            padding-right: 0;
        }

        span {
            text-transform: lowercase;
        }
    }
}

@media(max-width: 1540px) {
    .menu, .menu__wrapp{
        height: 60px;
    }
    .menu__list_li{
        font-size: 26px;
        margin-right: 38px;
    }
}

@media(max-width: 1441px) {
    .menu__list_li {
        margin-right: 34px;
    }
}


@media(max-width: 1195px) {
    .menu {
        &__wrapp {
            justify-content: right;
        }

        &__content {
            position: absolute;
            top: 0;
            left: -110%;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(53, 47, 36, 0.7);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            transition: all .3s;
            z-index: 1;
        }

        &__content_active {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(53, 47, 36, 0.7);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            transition: all .3s;
        }

        &__list{
            flex-direction: column;
            position: relative;
            top: -200px;
        }

        &__list_li{
            margin-bottom: 50%;
        }

        &__info {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &__enter_btn{
            z-index: 2;
        }

        &__mob_btn {
            display: block;
        }

        &__mob_btn__active{
            z-index: 2;
        }

        &__list_li {
            margin-right: 32px;
        }
    }
}

@media(max-width: 1440px) {
    .menu__list_li {
        margin-right: 30px;    
    }
}

@media(max-width: 620px) {
    .menu, .menu__wrapp{
        height: 60px;
    }
}