:global {
    .pagination .pagination__list li {
        a {
            background-color: #fff;
            color: black
        }
    }
}

.data {
    &__content {
        position: absolute;
        top: 100px;
        left: 360px;
        right: 20px;
        bottom: 100px;

    }

    &__content_search {
        position: relative;
        top: -5px;
        right: 20px;
        margin-right: 120px;
        text-align: right;
    }

    &__content_search_input{
        width: 200px;
        height: 40px;
        border-radius: 12px;
        padding: 0 15px;
        border: 1px solid black
    }

    &__content_search_input::placeholder{
        margin-left: 20px;
    }

 

    &__list {
        display: grid;
        grid-template-columns: auto auto auto;
        height: auto;
        justify-content: center;
        grid-column-gap: 200px;
        grid-row-gap: 0px;
        padding: 0 50px;
        position: relative;
        bottom: -20px;
    }

    &__item_wrapp {
        display: flex;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }

    &__item_wrapp:last-child {
        margin-bottom: 0;
    }

    &__item {
        display: inline-block;
        font-size: 22px;
        line-height: 26px;
        cursor: pointer;
    }

    &__delete {
        opacity: 0;
        z-index: -1;
        margin-left: 15px;
        cursor: pointer;
        transition: all .3s;
    }

    &__item_wrapp:hover .data__delete {
        opacity: 1;
        z-index: 1;
        transition: all .3s;
    }
}



.pagination {
    position: absolute;
    left: 340px;
    right: 0;
    bottom: 0;
    height: 80px;
    background-color: #DDE1E8;
    border-top: 1px solid black;
    z-index: 1;

    &__list {
        z-index: 2;
        margin-top: 20px;
        margin-left: 20px;

        li {
            display: inline-block;
        }

        a {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            color: #000;
            display: inline-block;
            text-align: center;
            width: 40px;
            height: 40px;
            line-height: 36px;
            border: 1px solid #000;
            border-radius: 30px;
            margin-right: 10px;
            cursor: pointer;

            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }

}

@media(max-width: 1501px) {
    .data {
        &__list {
            grid-template-columns: auto auto;
            overflow-y: scroll;
            height: 530px;
        }
    }
}

@media(max-width: 1201px) {
    .data {
        &__list {
            grid-template-columns: auto;
            overflow-y: scroll;
            height: 530px;
        }
    }
}