::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 33px;
}

::-webkit-scrollbar-thumb {
    padding: 20px;
    background: #000;
    width: 28px;
    height: 108px;
    border-radius: 33px;
}

.popupPoem {
    transition: all .3s;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    &__wrapp {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 700px;
        height: 100vh;
        background-image: url('../../assets/jpg/poembg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.45));
        z-index: 0;
        margin: 0 auto;
    }

    &__title {
        margin-top: 40px;
        font-size: 28px;
        line-height: 30px;
        text-align: left;
        margin-left: 100px;
    }

    &__content {
        position: absolute;
        top: 100px;
        left: 100px;
        right: 0;
        bottom: 130px;
        margin-right: 20px;
        overflow: auto;
        scrollbar-gutter: auto;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0.05em;
        white-space: pre-line;
        margin: 0;
    }
}

@media(max-width: 681px) {
    .popupPoem {
        &__title {
            font-size: 22px;
            margin-left: 50px;
        }
        &__content {
            left: 50px;
        }
    }
}

@media(max-width: 481px) {
    .popupPoem {
        &__title {
            margin-left: 20px;
            margin-top: 24px;
        }
        &__content {
            left: 20px;
        }
    }
}

@media(max-width: 421px) {
    .popupPoem {
        &__title {
            font-size: 20px;
            line-height: 22px;
        }
        &__content {
            top: 80px;
        }
        &__text {
            font-size: 18px;
            line-height: 22px;
        }
    }
}
