@font-face {
    font-family: 'Monplesir';
    src: local('Monplesir'), url(../assets/fonts/Monplesir.ttf) format('opentype');
}


.container{
  max-width: 1920px;
  margin: 0;
  padding: 0 70px;
}


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
    word-break: break-all;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  button {
    padding: 0;
    cursor: pointer;
  }

body{
    font-family: Monplesir;
}

@media(max-width: 620px){
  .container{
    padding: 0 20px;
  }
}