.poem {
    background-image: url('../../assets/jpg/poem_bg.jpg');
    background-position: 0%;
    background-size: cover;
    width: 100%;
    height: 100vh;

    &__not_wrapp{
        display: none;
    }

    &__wrapp {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 120px 0 120px 70px;
        border: 1px solid #000;
        background: rgba(255, 244, 232, 0.4);
        border-radius: 12px 0px 0px 12px;
    }

    &__head {
        width: 100%;
        height: 56px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #000;
        }
    }

    &__title {
        margin: 0 auto;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 44px;
    }

    &__search {
        display: flex;
        margin-right: 70px;
    }

    &__search_input {
        width: 178px;
        height: 36px;
        border: 1px solid #352F24;
        border-radius: 12px 0px 0px 12px;
        background-color: transparent;
    }

    &__search_btn {
        width: 92px;
        height: 36px;
        background: #352F24;
        border-radius: 0px 12px 12px 0px;
        border: none;
        color: #fff;
        text-transform: capitalize;
    }

    &__content{
        width: 100%;
        height: auto;
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 55px;
        bottom: 0;
    }

    &__list{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: 100%;
        column-count: 3;
        column-gap: 0;
        padding: 50px 0 0 70px;
    }
}

.poems {
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 58px;
    padding-right: 15px;
    cursor: pointer;
}


@media(max-width: 1527px) {
    .poems {
        font-size: 20px;
        line-height: 32px;
        // display: inline-block;
    }
}

@media(max-width: 1120px) {
    .poems {
        line-height: 30px;
    }
}

@media(max-width: 1020px) {
    .poems {
        width: 50%;
    }
}

@media(max-width: 620px) {
    .poems {
        font-size: 26px;
        width: 100%;
    }
}

@media(max-width: 430px) {
    .poems {
        font-size: 20px;
    }
}

@media(max-width: 360px) {
    .poems {
        font-size: 16px;
        margin-bottom: 15px;
    }
}

//////////height///////////

@media(max-height: 1070px) {
    .poems {
        margin-bottom: 50px;
    }
}

@media(max-height: 1003px) {
    .poems {
        margin-bottom: 41px;
    }
}

@media(max-height: 931px) {
    .poems {
        margin-bottom: 33px;
    }
}

@media(max-height: 880px) {
    .poems {
        margin-bottom: 30px;
    }
}

@media(max-height: 843px) {
    .poems {
        margin-bottom: 24px;
    }
}


@media(max-width: 1540px) {
    .poem{
        &__wrapp{
            margin-top: 100px;;
        }
        &__list{
            padding-top: 10px;
        }
    }
}


@media(max-width: 1120px) {
    .poem{
        &__list{
            padding: 10px 0 0 70px;
        }
    }
}

@media(max-width: 1020px){
    .poem{
        &__content{
            width: 100%;
        }

        &__content_wrapp{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        &__list{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: 160%;
        }
    }
}


@media(max-width: 620px){
    .poem{
        &__wrapp{
            margin: 90px 0 90px 20px;
        }

        &__title{
            display: none;
        }

        &__search{
            margin: 0 auto;
        }

        &__list{
            display: flex;
            flex-wrap: nowrap;
            height: 100%;
            padding-left: 40px;
        }
    }
}   