.poems {
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 58px;
    padding-right: 15px;
    cursor: pointer;
}


@media(max-width: 1527px) {
    .poems {
        font-size: 20px;
        line-height: 32px;
        // display: inline-block;
    }
}

@media(max-width: 1120px) {
    .poems {
        line-height: 30px;
    }
}

@media(max-width: 1020px) {
    .poems {
        width: 50%;
    }
}

@media(max-width: 620px) {
    .poems {
        font-size: 26px;
        width: 100%;
    }
}

@media(max-width: 430px) {
    .poems {
        font-size: 20px;
    }
}

@media(max-width: 360px) {
    .poems {
        font-size: 16px;
        margin-bottom: 15px;
    }
}

//////////height///////////

@media(max-height: 1070px) {
    .poems {
        margin-bottom: 50px;
    }
}

@media(max-height: 1003px) {
    .poems {
        margin-bottom: 41px;
    }
}

@media(max-height: 931px) {
    .poems {
        margin-bottom: 33px;
    }
}

@media(max-height: 880px) {
    .poems {
        margin-bottom: 30px;
    }
}

@media(max-height: 843px) {
    .poems {
        margin-bottom: 24px;
    }
}