.description {
    overflow: hidden;
    &__item {
        padding: 30px;
        background-color: #fff;
        border: 2px solid black;
        border-radius: 12px;
        margin-top: 20px;
        width: 100%;
        height: 80vh;
        transition: all .3s;
    }

    &__item_header {
        display: flex;
        justify-content: right;
        margin-bottom: 20px;
    }

    &__item_content {
        width: 100%;
        height: 50px;
        border: 1px solid black;
        border-radius: 12px;
        resize: none;
        padding: 15px;
        margin-bottom: 30px;
    }

    &__item_btns {
        display: flex;
    }

    &__item_btn {
        border: none;
        background-color: transparent;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        cursor: pointer;
    }
}


.description__item.active{
    border: 2px solid green;
    transition: all .3s;
}

:global {
    .CodeMirror-scroll{
        min-height: 180px !important;
        height: 300px !important;
    }
}

