input:focus {outline: none;}

.myInfo {
    width: 100%;
    height: auto;
    background-color: #A9B3C7;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 12px;

    &__header {
        width: 100%;
        height: 50px;
        position: relative;
    }

    &__content {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 50px 50px 50px;
    }

    &__avatar {
        width: 240px;
        height: 240px;
        margin-right: 50px;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 240px;
    }

    &__input {
        width: 100%;
        height: 60px;
        padding: 0 15px;
        position: relative;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 12px;
    }


    &__completed {
        position: absolute;
        top: 15px;
        right: 50px;
        cursor: pointer;
    }

    &__cancel {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }

    &__input:last-child {
        margin-bottom: 0;
    }
}


.myInfo__input.false{
    border: 2px solid red;
    border-radius: 12px;
}

.myInfo__input.active{
    border: 2px solid rgb(19, 183, 36);
    border-radius: 12px;
}

