.icons {
    &__list {
        display: flex;
        margin-right: 120px;
    }

    &__svg {
        padding-right: 30px;

        &:last-child {
            padding-right: 0;
        }
    }
}


@media(max-width: 1195px) {
    .icons__list{
        margin-right: 60px;
    }
}

